data/
__pycache__/
.DS_Store
*.ipynb_checkpoints
.env

# Virtual environment
.venv/
venv/
env/

# Models and outputs
models/
outputs/
*.pkl
*.joblib
*.h5

# Jupyter
.ipynb_checkpoints/
*.ipynb~

# Python
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# OS
Thumbs.db

# IDE
.vscode/
.idea/

#agent files
CLAUDE.md
